# ignore all files in thamestests; it is more like a scratch directory anyway
thamestests/

# ignore all object files
*.o

#ignore the Mac OS X superfluous files
.DS_Store

# ignore spreadsheets used for calculations
*.xls
*.xlsx

# ignore contents of bin directory but not bin itself
bin/*

# ignore contents of doc directories
doc/html/*
doc/latex/*

#ignore LaTeX intermediate files
*.aux
*.log
*.toc
*.out

# ignore compiled libraries
*.a

# ignore zipped files
*.zip

# ignore swap files
.*.swp

# ignore files that will be created upon complilation
src/version.h
src/thameslib/myconfig.h
src/vcctl2thames/vcctl2thames.h

