# ignore all files in thamestests; it is more like a scratch directory anyway
thamestests/

# ignore all object files
*.o

#ignore the Mac OS X superfluous files
.DS_Store
.cache

# ignore spreadsheets used for calculations
*.xls
*.xlsx

# ignore contents of bin directory but not bin itself
bin/*

# ignore the contents of the build directory but not build itself
build/*

# ignore contents of doc directories
doc/html/*
doc/latex/*

doc/BuildGuide/*.fdb_latexmk
doc/BuildGuide/*.fls
doc/BuildGuide/*.synctex.gz

#ignore LaTeX intermediate files
*.aux
*.log
*.toc
*.out

# ignore compiled libraries
*.a

# ignore zipped files
*.zip

# ignore swap files
.*.swp

# ignore files that will be created upon complilation
src/version.h
src/thameslib/myconfig.h
src/vcctl2thames/vcctl2thames.h
src/GEMS3K-standalone/Resources
src/Resources

run_work_Jeff/
